#set($uncapitalizedEntityName = $fn.uncapitalize(${entity.name}) )
#set($toLowerCaseEntityName = $fn.toLowerCase(${entity.name}) )
## ----------------------------------------------------------------------
#if ( $entity.hasCompositePrimaryKey() )
#set( $primaryKeyType = "${entity.name}EntityKey" )
#else 
#set( $primaryKeyType = $entity.keyAttributes[0].wrapperType )
#end
## ----------------------------------------------------------------------

package ${target.javaPackageFromFolder($TEST_SRC)};

import static org.junit.Assert.assertEquals;

import java.math.BigDecimal;
import java.util.Date;

import javax.ws.rs.client.Entity;
import javax.ws.rs.core.Application;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;

import org.glassfish.jersey.server.ResourceConfig;
import org.glassfish.jersey.test.JerseyTest;
import org.junit.After;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.mockito.Mockito;
import org.salondeventas.server.modelo.jpa.${entity}Entity;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import org.springframework.test.context.web.WebAppConfiguration;


@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = {"classpath:META-INF/spring/applicationContext.xml"})
@WebAppConfiguration
public class ${entity}ControllerImplTest extends JerseyTest {
	
	private ${entity}ControllerImpl ${uncapitalizedEntityName}Controlador;
			
	@Override
	protected Application configure() {
		${uncapitalizedEntityName}Controlador = Mockito.mock(${entity}ControllerImpl.class);
		ResourceConfig app = new ResourceConfig(${entity}ControllerImpl.class);
		return app;
	}	

    @After
    public void after() throws Exception {
        super.tearDown();
    }
    
	@Test
	public void insert${entity}() {
		String pathToCall = "${uncapitalizedEntityName}/insert/";

		final ${entity}Entity un${entity} = new ${entity}Entity();
		
		final Entity<${entity}Entity> ${uncapitalizedEntityName}Entity = Entity.entity(un${entity}, MediaType.APPLICATION_JSON_TYPE);				
		final Response responseWrapper = target(pathToCall)				
				.queryParam("usuario", "leonel")
				.queryParam("clave", "123")
				.request(MediaType.APPLICATION_JSON_TYPE).post(${uncapitalizedEntityName}Entity);				
		assertEquals(Response.Status.OK.getStatusCode(), responseWrapper.getStatus());
		
		un${entity}.setId${uncapitalizedEntityName}(Integer.valueOf(responseWrapper.readEntity(String.class)));		
	}
	
	@Test
	public void update${entity}() {
		String pathToCall = "${uncapitalizedEntityName}/update/";

		final ${entity}Entity un${entity} = new ${entity}Entity();
		
		final Entity<${entity}Entity> ${uncapitalizedEntityName}Entity = Entity.entity(un${entity}, MediaType.APPLICATION_JSON_TYPE);										
		final Response responseWrapper = target(pathToCall)				
				.queryParam("usuario", "leonel")
				.queryParam("clave", "123")
				.request(MediaType.APPLICATION_JSON_TYPE).post(${uncapitalizedEntityName}Entity);				
		assertEquals(Response.Status.OK.getStatusCode(), responseWrapper.getStatus());		
	}	
	
	@Test
	public void load${entity}() {
		final String pathToCall = "${uncapitalizedEntityName}/load/";

		final ${entity}Entity un${entity} = new ${entity}Entity();		
		final Entity<${entity}Entity> ${uncapitalizedEntityName}Entity = Entity.entity(un${entity}, MediaType.APPLICATION_JSON_TYPE);				
		final Response responseWrapper = target(pathToCall)				
				.queryParam("usuario", "leonel")
				.queryParam("clave", "123")				
				.request(MediaType.APPLICATION_JSON_TYPE).post(${uncapitalizedEntityName}Entity);				
		assertEquals(Response.Status.OK.getStatusCode(), responseWrapper.getStatus());
	}	
	
		
	@Test
	public void loadAll() {
		final String pathToCall = "producto/loadall/";
		/*
		final ProductoEntity prod1 = new ProductoEntity();		
		final Entity<ProductoEntity> prodEntity = Entity.entity(prod1, MediaType.APPLICATION_JSON_TYPE);
		try{
			final Response responseWrapper = target(pathToCall)				
					.queryParam("usuario", "leonel")
					.queryParam("clave", "123")
					.request(MediaType.APPLICATION_JSON_TYPE).post(prodEntity);
			String content = responseWrapper.toString();
	        System.out.println("Output : " + content);
			assertEquals(Response.Status.OK.getStatusCode(), responseWrapper.getStatus());
		}catch (ConstraintViolationException e) {
			e.printStackTrace();
			System.out.println("Error");
			
		}
		*/				
	}		
}