package ${target.javaPackageFromFolder($SRC)};

import java.io.IOException;

import javafx.application.Application;
import javafx.event.ActionEvent;
import javafx.event.EventHandler;
import javafx.fxml.FXML;
import javafx.fxml.FXMLLoader;
import javafx.geometry.Rectangle2D;
import javafx.scene.Scene;
import javafx.scene.control.Button;
import javafx.scene.layout.AnchorPane;
import javafx.scene.layout.BorderPane;
import javafx.scene.layout.Pane;
import javafx.stage.Screen;
import javafx.stage.Stage;
import javafx.stage.WindowEvent;

public class Principal extends Application {

	@FXML
	private static Scene scene;
	@FXML
	private BorderPane borderPane;
	@FXML
	private AnchorPane myPane;
	@FXML 
	private Button closeButton;
	@FXML
	private Pane panelConfiguracion;

#foreach( $entity in $selectedEntities )
	@FXML
	private Pane panel${entity};
#end		

	@Override
	public void start(Stage primaryStage) throws Exception {
		primaryStage.setTitle("Principal");
		
		Screen screen = Screen.getPrimary();
		Rectangle2D bounds = screen.getVisualBounds();

		primaryStage.setX(bounds.getMinX());
		primaryStage.setY(bounds.getMinY());
		primaryStage.setWidth(bounds.getWidth());
		primaryStage.setHeight(bounds.getHeight());

		loadPage();			
		primaryStage.setScene(scene);
		primaryStage.resizableProperty().set(false);
		primaryStage.show();
		
		primaryStage.setOnHiding(new EventHandler<WindowEvent>() {

            public void handle(WindowEvent event) {
            	System.exit(0);
            }
        });
	}

	@FXML
	private void handleItemConfiguracionAction(ActionEvent event) {
		borderPane = (BorderPane) scene.lookup("#borderPane");
		try {
			panelConfiguracion = (Pane) FXMLLoader.load(getClass().getResource(
					"PanelConfiguracion.fxml"));
		} catch (IOException e) {			
			e.printStackTrace();
		}
		borderPane.setCenter(panelConfiguracion);		
	}
	
	@FXML
	private void handleItemCerrarSessionAction(ActionEvent event) {		
	}	

#foreach( $entity in $selectedEntities )
	@FXML
	private void handleItem${entity}Action(ActionEvent event) {
		borderPane = (BorderPane) scene.lookup("#borderPane");
		try {
			panel${entity} = (Pane) FXMLLoader.load(getClass().getResource(
					"Panel${entity}.fxml"));
		} catch (IOException e) {			
			e.printStackTrace();
		}
		borderPane.setCenter(panel${entity});		
	}

#end	

	@FXML
	private void closeButtonAction(){
		System.exit(0);
	}		
	
	@FXML
	private void handleItemSalirAction(ActionEvent event) {
		System.exit(0);
	}

	private void loadPage() throws IOException {
		this.myPane = (AnchorPane) FXMLLoader.load(getClass().getResource(
				"Principal.fxml"));				
		this.scene = new Scene(myPane);
	}

	public Pane getPanelConfiguracion() {
		return panelConfiguracion;
	}

	public void setPanelConfiguracion(Pane panelConfiguracion) {
		this.panelConfiguracion = panelConfiguracion;
	}

#foreach( $entity in $selectedEntities )
	public Pane getPanel${entity}() {
		return panel${entity};
	}

	public void setPanel${entity}(Pane panel${entity}) {
		this.panel${entity} = panel${entity};
	}
#end
	
	

	public AnchorPane getMyPane() {
		return myPane;
	}

	public void setMyPane(AnchorPane myPane) {
		this.myPane = myPane;
	}

	public Scene getScene() {
		return scene;
	}

	public void setScene(Scene scene) {
		this.scene = scene;
	}
	
	public static void iniciar(){
		String[] args = {};
		launch(args);
	}

	public static void main(String[] args) {
		Principal.iniciar();
	}
}