#set($uncapitalizedEntityName = $fn.uncapitalize(${entity.name}) )
package ${target.javaPackageFromFolder($SRC)};

import ${ROOT_PKG}.dao.GenericDAOWithHibernate;
import ${ROOT_PKG}.dao.I${entity.name}DAO;
import ${ROOT_PKG}.modelo.jpa.${entity.name}Entity;
import org.springframework.stereotype.Service;

@Service("${uncapitalizedEntityName}Dao")
public class ${entity.name}DAO extends GenericDAOWithHibernate<${entity.name}Entity, Long> implements I${entity.name}DAO {	
		
}
