package ${target.javaPackageFromFolder($SRC)};

import ${ROOT_PKG}.modelo.jpa.${entity.name}Entity;

public interface I${entity.name}Servicio extends IServicio<${entity.name}Entity, java.lang.Long>{
	
}
