package ${target.javaPackageFromFolder($SRC)};

import ${ROOT_PKG}.modelo.informe.jpa.${entity.name}Entity;

public interface ${entity.name}Service extends ServiceInforme<${entity.name}Entity, java.lang.Long>{

}
